# Python
__pycache__/
*.py[cod]
*$py.class

# Env
.env
.venv/
venv/
ENV/
env/

# IDE/editor
.vscode/
.idea/
*.DS_Store

# Byte-compiled / temp
*.pyc
*.pyo
*.pyd
.Python

# Database / logs
*.sqlite3
*.db
*.log

# Migrations (optionnel, si tu veux versionner tes migrations)
# migrations/

